body{
    background-color: #dfd39c;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
}
section{
    background-color: blue;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

section button#btn_esquerdo{
    background-color: rgb(180, 57, 108);
}
section button#btn_direito{
    background-color: green;
}